@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "HelloZone";
    src: url("./HelloZone.otf");
  }

  .github {
    height: 200px;
    width: 200px;
  }
  .linkedin {
    height: 100px;
    width: 100px;
  }
  .twitter {
    height: 150px;
    width: 150px;
  }
  .discord {
    height: 300px;
    width: 300px;
  }