@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "HelloZone";
    src: url("./HelloZone.otf");
  }

  .github {
    height: 250px;
    width: 250px;
  }
  .linkedin {
    height: 75px;
    width: 75px;
  }
  .twitter {
    height: 125px;
    width: 125px;
  }
  .discord {
    height: 300px;
    width: 300px;
  }